<div class="container mt-5">
  <table id="example" class="table table-striped" style="width: 100%" >
    <thead style="background-color: #1d4039;">
      <tr >
        <th style="color: white;">SI No.</th>
        <th style="color: white;">Customer</th>
        <th width="220 em" style="color: white;">Address</th>
        <th style="color: white;"> Order date</th>
        <th width="100px" style="color: white;">Product</th>
        <th style="color: white;">Qty</th>
        <th style="color: white;"> Price</th>
        <th style="color: white;">Payment</th>
        
        <th style="color: white;">Status</th>
      </tr>
    </thead>

    <tbody style="border-color: #1d4039;">
      <% let i = 0 %> 
      <% for(let order of orders){ %>
        <% for(let orderItem of order.orderItems ) {%> 
          <% let date=order.date %> 
          <% date = new Date(date).toString()%> 
          <% date = date.split(' ').slice(0, 5).join(' '); %> 
        <%  i +=1 %> 
      <tr>
        <td><%= i %></td>
        <td><%=order.deliveryDetails.firstname %> <%=order.deliveryDetails.lastname %></td>  


        <td>
         <p ><%= order.deliveryDetails.house %>, <%=order.deliveryDetails.area%>, <%= order.deliveryDetails.landmark %>, <%=order.deliveryDetails.city %>,
          <%=order.deliveryDetails.district%> , <%= order.deliveryDetails.state %>, <%= order.deliveryDetails.pincode %>, 
          <%=order.deliveryDetails.country %>, Phone number: <%= order.deliveryDetails.mobile %>
         </p> 
        </td>


        <td><%= date %> </td>
        
        <td><%=orderItem.product.name %> </td>
     
        <td><%= orderItem.quantity %> </td>
        <td>₹<%= orderItem.total %> </td>
        <td><%= order.paymentMehod %> </td>

        

        <td>
          
          <select name="status" id="option<%=orderItem.proId%><%=order._id%>" onclick="changeOrderStatus('<%= orderItem.proId%>','<%= order._id%>')" >
            <% if(order.status=='pending'){%>
              <option hidden><%= order.status %> </option>
              <% }else{ %> 
            <option hidden><%= orderItem.itemStatus %> </option>
            <% } %> 
            <option value="placed">Placed</option>
            <option value="cancelled">Cancel</option>
            <option value="shipped">Shipped</option>
            <option value="delivered">Delivered</option>
          </select>
      
        </td>
      </tr>
      <% } %> 
      <% } %>
    </tbody>
  </table>
</div>
