<section>
    <div class="container">



        <div class="row mt-4 mb-2">
            <a href="/admin/add-product" class="btn btn-success ml-auto mx-5" style="width: 140px;">Add Product</a>
        </div>


        <table id="example" class="table table-striped" style="width: 100%" style="border-color: #0d6efd;">
            <thead style="background-color: #0d6efd;">
                <tr>
                    <th style="color: white;" scope="col">No.</th>
                    <th style="color: white;" scope="col">Title</th>
                    <th style="color: white;" scope="col">Category</th>
                    <th style="color: white;" scope="col">Price</th>
                    <th style="color: white;" scope="col">Description</th>
                    <th style="color: white;" scope="col">Image</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="border-color: #0d6efd;">
                <% for(var i=0;i<products.length;i++){ %> 
                <tr>
                    <th scope="row"><%= i+1 %> </th>
                    <td><%= products[i].name %></td>
                    <td><%= products[i].category %></td>
                    <td><%= products[i].price %></td>
                    <td><%= products[i].description %></td>
                    <td><img style="width:5rem;height:5rem" src="/images/product-images/<%= products[i]._id %>.webp" alt=""></td>
                    <td><a href="/admin/edit-product/<%= products[i]._id %>" class="btn btn-success">Edit</a></td>
                    <td><a href="/admin/delete-product/<%= products[i]._id %>" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>

                </tr>
                

                <% } %> 

            </tbody>
        </table>
    </div>
</section>