<section>
    <div class="container mt-5">
       
        <table id="example" class="table table-striped" style="width: 100%" >

            
            <thead style="background-color: #1d4039;">
                <tr>
                    <th style="color: white;" scope="col">No.</th>
                    <th style="color: white;" scope="col">Username</th>
                    <th style="color: white;" scope="col">Email</th>
                    <th style="color: white;" scope="col">phone number</th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody style="border-color: #1d4039;">
                
                <% for(var i=0;i<users.length;i++){ %> 
                <tr>
                    <th scope="row"><%= i+1 %> </th>
                    <td><%= users[i].username %> </td>
                    <td><%= users[i].email %> </td>
                    <td><%= users[i].phone %> </td>

                     <div id="user-block-unblock<%= users[i]._id %>">                
                    <% if ( users[i].isActive){ %> 
                        <td>Active</td>
                       <td><button onclick="blockUser('<%= users[i]._id %>')" class="btn btn-success" >block</button></td>
                    <% }else{ %> 
                        <td>Inactive</td>
                       <td><a onclick="unblockUser('<%= users[i]._id %>')" class="btn btn-danger" onclick="return confirm('Are you sure?')">Unblock</a></td>
                    <% } %> 
                     </div> 
                </tr>
                

                <% } %> 
                

                <!-- <tr class='notfound'>
                    <td colspan='4'>No record found</td>
                </tr> -->
               
                
            </tbody>
        </table>
    </div>
</section>