<div class="colorlib-loader"></div>

<div id="page">

	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="/">Home</a></span> / <span>Shopping Cart</span></p>
				</div>
			</div>
		</div>
	</div>


	<div class="colorlib-product">
		<div class="container">
			<div class="row row-pb-process">
				<div class="col-md-10 offset-md-1">
					<div class="process-wrap" style="height: 50%;;">
						<div class="process text-center active">
							<p><span>01</span></p>
							<h3>Shopping Cart</h3>
						</div>
						<div class="process text-center">
							<p><span>02</span></p>
							<h3>Checkout</h3>
						</div>
						<div class="process text-center">
							<p><span>03</span></p>
							<h3>Order Complete</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-pb-lg">
				<div class="col-md-12">
					<div class="product-name d-flex">
						<div class="one-forth text-left px-4">
							<span>Product Details</span>
						</div>
						<div class="one-eight text-center">
							<span>Price</span>
						</div>
						<div class="one-eight text-center">
							<span>Quantity</span>
						</div>
						<div class="one-eight text-center">
							<span>Total</span>
						</div>
						<div class="one-eight text-center px-4">
							<span>Remove</span>
						</div>
					</div>

					<% for(let cartItem of cartItems){ %>
						<% for(let product of cartItem.product){ %>

							<div class="product-cart d-flex">

								<div class="one-forth ">
									<a href="/product/<%= product._id %> ">
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<img src="/images/product-images/<%=product._id%>.webp"
													style="width: auto;" alt="product image" class="product-img">
											</div>
											<div class="display-tc text-center pro-details" style="padding:3em">
												<h3>
													<%= product.brand %>
												</h3>
											</div>
										</div>
									</a>
								</div>
								<div class="one-eight text-center">
									<div class="display-tc">
										<span class="price pro-details">
											₹ <%= product.price %> 
										</span>
									</div>
								</div>
								<%} %>
									<div class="one-eight text-center">
										<div class="display-tc">
											<input type="number" id="quantity" name="quantity"
												class="form-control input-number text-center pro-details" value=<%=cartItem.quantity
												%> min="1" max="10">
										</div>
									</div>
									<div class="one-eight text-center">
										<div class="display-tc pro-details">
											<span class="price">₹ xxxx</span>
										</div>
									</div>
									<div class="one-eight text-center">
										<div class="display-tc">
											<a href="#" class="closed"></a>
										</div>
									</div>
							</div>

							<% } %>


				</div>
			</div>
			<div class="row row-pb-lg">
				<div class="col-md-12">
					<div class="total-wrap">
						<div class="row">
							<div class="col-sm-8">
								<form action="#">
									<div class="row form-group">
										<div class="col-sm-9">
											<input type="text" name="quantity" class="form-control input-number"
												placeholder="Your Coupon Number...">
										</div>
										<div class="col-sm-3">
											<input type="submit" value="Apply Coupon" class="btn btn-primary">
										</div>
									</div>
								</form>
							</div>
							<div class="col-sm-4 text-center">
								<div class="total">
									<div class="sub">
										<p><span>Subtotal:</span> <span>₹7150.00</span></p>
										<p><span>Delivery:</span> <span>₹0.00</span></p>
										<p><span>Discount:</span> <span>₹50.00</span></p>
									</div>
									<div class="grand-total">
										<p><span><strong>Total:</strong></span> <span>₹7100.00</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
					<h2>Related Products</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<a href="#" class="prod-img">
							<img src="" class="img-fluid" alt="Related product images">
						</a>
						<div class="desc">
							<h2><a href="#">sunglasses</a></h2>
							<span class="price">₹ 1239.00</span>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>


</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>