<div class="colorlib-loader"></div>

<div id="page">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="bread">
            <span><a href="/">Home</a></span> / <span>Shopping Cart</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="colorlib-product" style="margin-top: -61px">
    <div class="container">
      <% if(cartItems[0]){ %>
      <div class="row row-pb-lg">
        <div class="col-sm-10 offset-md-1">
          <div class="process-wrap">
            <div class="process text-center active">
              <p><span>01</span></p>
              <h3>Shopping Cart</h3>
            </div>
            <div class="process text-center">
              <p><span>02</span></p>
              <h3>Checkout</h3>
            </div>
            <div class="process text-center">
              <p><span>03</span></p>
              <h3>Order Complete</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-pb-lg">
        <div class="col-md-12">
          <div class="product-name d-flex">
            <div class="one-forth text-left px-4">
              <span>Product Details</span>
            </div>
            <div class="one-eight text-center">
              <span>Price</span>
            </div>
            <div class="one-eight text-center">
              <span>Quantity</span>
            </div>
            <div class="one-eight text-center">
              <span>Total</span>
            </div>
            <div class="one-eight text-center px-4">
              <span>Remove</span>
            </div>
          </div>

          <% for(let cartItem of cartItems){ %>

          <div
            class="product-cart d-flex"
            id="proDetail<%= cartItem.product._id %>"
          >
            <div class="one-forth">
              <a href="/product/<%= cartItem.product._id %> ">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <img
                       src="<%= cartItem.product.images.image1 %> "
                      style="width: auto"
                      alt="product image"
                      class="product-img"
                    />
                  </div>
                  <div
                    class="display-tc text-center pro-details"
                    style="padding: 3em"
                  >
                    <h3><%= cartItem.product.brand %></h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="one-eight text-center">
              <div class="display-tc">
                <span class="price pro-details">
                  ₹
                  <span id="price<%=cartItem.product._id%>"
                    ><%= cartItem.product.offerPrice %></span
                  >
                </span>
              </div>
            </div>

            <div class="one-eight text-center">
              <div class="display-tc">
                <button
                  class="cart-item-count mr-3 pr-2 pl-2 btn-cart btn-primary"
                  onclick="changeQuantity('<%= cartItem._id%>','<%= cartItem.product._id%>',-1)"
                  id="minus<%=cartItem.product._id%>"
                >
                  -
                </button>

                <span id="<%= cartItem.product._id%>"
                  ><%=cartItem.quantity%></span
                >

                <button
                  class="cart-item-count ml-3 btn-cart btn-primary"
                  onclick="changeQuantity('<%= cartItem._id%>','<%= cartItem.product._id%>',1)"
                >
                  +
                </button>
              </div>
            </div>
            <div class="one-eight text-center">
              <div class="display-tc pro-details">
                <span class="price">
                  ₹
                  <span id="total<%=cartItem.product._id%>"
                    ><%= Math.round(((cartItem.product.offerPrice*cartItem.quantity)+ Number.EPSILON)*100)/100 %></span
                  >
                </span>
              </div>
            </div>
            <div class="one-eight text-center">
              <div class="display-tc">
                <span
                  onclick="removeProduct('<%= cartItem._id%>','<%= cartItem.product._id%>')"
                  ><i
                    class="fa fa-trash-o"
                    style="font-size: 24px; color: red"
                  ></i
                ></span>
              </div>
            </div>
          </div>

          <% } %>
        </div>
      </div>

      <div class="row row-pb-lg">
        <div class="col-md-12">
          <div class="total-wrap">
            <div class="row">
              <div class="col-sm-8">
                <form id="redeemCoupon">
                  <div>
                    <p id="couponErr" class="text-danger font-weight-bold"></p>
                  </div>
                <div >                  
                  <input
                    type="text"
                    class="coupon"
                    placeholder="Enter Coupon Code"
                    name="coupon"
                    id="couponRedeemInput"
                    value="<%=couponCode%>"
                    aria-describedby="button-addon2"
                  />
                  <br>
                  <button
                    class="btn smoke" 
                    data-toggle="modal"
                    data-target="#exampleModalLong"
                    type="button"
                    id="button-coupons"
                    style="width: 12rem; margin-right:5rem;border-color: rgb(95, 99, 99);margin-left: 6px;"
                  >coupons</button>
                  
                  <button
                    class="btn btn-primary"
                    type="submit"
                    id="button-addon2"
                    style="width: 12rem;"
                  >Apply</button>
                </div>
                </form>
              </div>
              <div class="col-sm-4 text-center">
                <div class="total">
                  <div class="sub">
                    <p>
                      <span>Subtotal:</span>
                      
                      <span id="total">₹ <span><%= Math.round(((subTotal) + Number.EPSILON) * 100) / 100 %></span> </span>
                    </p>
                    <p><span>Delivery:</span> <span>₹ <span>00.00</span> </span></p>
                    <p><span>Discount:</span> <span>₹ <span id="couponDiscount"><%=Math.round(((couponDiscount) + Number.EPSILON) * 100) / 100%> </span> </span></p>
                  </div>
                  <div class="">
                    <p><span><strong>Total:</strong></span><span>₹<span id="totals"><%= Math.round(((subTotal-couponDiscount) + Number.EPSILON) * 100) / 100 %></span> </span></p>
                  </div>
                </div>
                <div class="m-5">
                  <a href="/checkout"
                    ><button class="btn btn-primary">
                      Proceed to checkout
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm"
        >
          <h2>Related Products</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 mb-4 text-center">
          <div class="product-entry border">
            <a href="#" class="prod-img">
              <img src="" class="img-fluid" alt="Related product images" />
            </a>
            <div class="desc">
              <h2><a href="#">sunglasses</a></h2>
              <span class="price">₹ 1239.00</span>
            </div>
          </div>
        </div>
      </div>

      <% }else{ %>
      <div class="row">
        <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
          <img src="/images/cart-empty.svg" alt="" class="img-fluid mb-4" />
          <h2>Your shopping cart is empty</h2>
          <p class="mb-4">
            Return to the store to add items for your delivery slot. Before
            proceed to checkout you must add some products to your shopping
            cart. You will find a lot of interesting products on our shop page.
          </p>
          <a href="/" class="btn btn-primary">Explore Products</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

<!-- coupon modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="couponSelectForm">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Active coupons </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% for(let coupon of couponInfo) {%> 
          <div class="bg-white form-check">

            <input 
              class="form-check-input"
              name="coupon"  
              type="radio" 
              id="couponselect<%=coupon._id %>"
              value="<%=coupon.coupon%>"
            >

          <label class="form-check-label" for="couponselect<%=coupon._id%>">       
            <b style="color: black;"><%=coupon.coupon %> </b> 
            <span class="text-muted" style="font-size: smaller;">(*only for purchases above</span>
            <span class="text-muted" style="font-size:smaller;"> RS. <%=coupon.minimumPrice%> )</span>
            <p><%=coupon.percentage%>% off on applying this coupon </p>
          </label>  
          </div>
        <% } %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Select coupon</button>
      </div>
      </form>
    </div>
  </div>
</div>
