<div class="colorlib-loader"></div>

<div id="page">

	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col">
					<p class="bread"><span><a href="/">Home</a></span> / <span>Checkout</span></p>
				</div>
			</div>
		</div>
	</div>


	<div class="colorlib-product" style="margin-top: -61px;">
		<div class="container">
			<div class="row row-pb-lg">
				<div class="col-sm-10 offset-md-1">
					<div class="process-wrap">
						<div class="process text-center active">
							<a href="/cart">
								<p><span>01</span></p>
							</a>
							<h3>Shopping Cart</h3>
						</div>
						<div class="process text-center active">
							<p><span>02</span></p>
							<h3>Checkout</h3>
						</div>
						<div class="process text-center">
							<p><span>03</span></p>
							<h3>Order Complete</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- modal -->

			<!-- Button trigger modal -->
			<div class="d-flex justify-content-start mb-3">

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
					data-bs-whatever="@mdo">Add new shipping address ?</button>

			</div>

			<!-- Modal -->

			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog ">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title fs-5" id="exampleModalLabel">Enter a new delivery address</h2>
							<button type="button" class="btn-close rounded" data-dismiss="modal"
								aria-label="Close">x</button>
						</div>
						<div class="modal-body " style="color: black;">
							<form action="/add-address/2" method="post">
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1 text-black" for="inputFirstName">First name</label>
										<input class="form-control" id="firstname" type="text" name="firstname"
											placeholder="Enter your first name" value="">
									</div>
									<div class="col-md-6">
										<label class="small mb-1" for="inputLastName">Last name</label>
										<input class="form-control" id="lastname" type="text" name="lastname"
											placeholder="Enter your last name" value="">
									</div>
								</div>
								<div class="mb-3">
									<label class="small mb-1" for="inputEmailAddress">Email address</label>
									<input class="form-control" id="email" type="email" name="email"
										placeholder="Enter your email address" value="">
								</div>
								<div class="mb-3">
									<label class="small mb-1" for="inputEmailAddress">Flat, House no., Building,
										Company,
										Apartment</label>
									<input class="form-control" id="house" type="text" name="house"
										placeholder="Flat, House no., Building, Company,Apartment" value="">
								</div>
								<div class="mb-3">
									<label class="small mb-1" for="inputEmailAddress">Area, Street, Sector,
										Village</label>
									<input class="form-control" id="area" type="text" name="area"
										placeholder="Area, Street, Sector, Village" value="">
								</div>
								<div class="mb-3">
									<label class="small mb-1" for="inputEmailAddress">Landmark</label>
									<input class="form-control" id="landmark" type="text" name="landmark"
										placeholder="Eg. near amala hospital" value="">
								</div>
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1" for="inputPhone">Phone number</label>
										<input class="form-control" id="mobile" type="tel" name="mobile"
											placeholder="Enter your phone number" value="">
									</div>
									<div class="col-md-6">
										<label class="small mb-1" for="inputCountry">Country</label>
										<input class="form-control" id="country" type="text" name="country"
											placeholder="Enter your Country" value="">
									</div>
								</div>
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1" for="inputState">State</label>
										<input class="form-control" id="state" type="text" name="state"
											placeholder="Enter your State" value="">
									</div>
									<div class="col-md-6">
										<label class="small mb-1" for="inputDistrict">District</label>
										<input class="form-control" id="district" type="text" name="district"
											placeholder="Enter your District" value="">
									</div>
								</div>
								<div class="row gx-3 mb-3">
									<div class="col-md-6">
										<label class="small mb-1" for="inputCity">City</label>
										<input class="form-control" id="city" type="text" name="city"
											placeholder="Enter your City" value="">
									</div>
									<div class="col-md-6">
										<label class="small mb-1" for="inputPin">Pincode</label>
										<input class="form-control" id="pincode" type="number" name="pincode"
											placeholder="6 digits [0-9] PIN code" value="">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Add Address</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>

			<!-- /modal -->

			<div class="container checkout-container">
				<form method="post"  id="checkout-form" class="colorlib checkout-form">
					<div class="row">
						<div class="col-lg-7 " >

							<h2>Billing Details</h2>

							<h5 class="mx-1"> Select shipping address</h5>
							<div class="row address-card" >	
								

								<% for(let address of addresses){ %> 

								<div class="col-md-12 card" style="margin: 10px; padding-left: 18px; margin-left: 15px; background-color: whitesmoke;">
									<div class="form-check " style="height:auto; padding:10px;">
										<input class="form-check-input mt-4" type="radio" name="address"
											id="flexRadioDefault<%=address._id %> " value="<%=address._id %>" required>
										<label class="form-check-label" for="flexRadioDefault<%=address._id %> ">
											<p style="font-size:16px;" class="mt-3" >
												<span style="font-weight:blod;"><strong><%= address.firstname%> <%=address.lastname %> </strong></span>
											</p>
											<p style="margin-top:-20px;font-size:15px">
												<%= address.house %>, <%=address.area%>, <%= address.landmark %>, <%=address.city %> 
											</p>
											<p style="margin-top:-18px;font-size:15px">
												<%=address.district%> , <%= address.state %>, <%= address.pincode %>, 
												<%=address.country %>, Phone number: <%= address.mobile %>
											</p> 
											
										</label>
										
									</div>
								</div>

								<% }%> 
							</div>

						</div>

						<div class="col-lg-5" style="position:relative;">
							<div class="row">
								<div class="col-md-12">
									<div class="cart-detail">
										<h2>Cart Total</h2>
										<ul>
											<li>
												<span>Subtotal</span> <span>₹ <%= subTotal %> </span>

											</li>
											<li><span>Shipping</span> <span>₹ 0.00</span></li>
											<li><span>Order Total</span> <span> ₹ <%= subTotal %> </span></li>
										</ul>
									</div>
								</div>

								<div class="w-100"></div>

								<div class="col-md-12">
									<div class="cart-detail">
										<h2>Payment Method</h2>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
													<label><input type="radio" name="paymentMethod" value="UPI">
														UPI</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
													<label><input type="radio" name="paymentMethod" value="COD">
														cash
														on delivery</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<div class="radio">
													<label><input type="radio" name="paymentMethod" value="ONLINE">
														Paypal</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-12">
												<div class="checkbox">
													<label><input type="checkbox" value="" required> I have read and accept
														the
														terms
														and
														conditions</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row ">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-primary m-4">Place an order</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>