<div class="colorlib-loader"></div>

<div id="page">

	<aside id="colorlib-hero">
		<div class="flexslider">
			<ul class="slides">
				<li style="background-image: url(/images/sunglasses/home1.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Men's</h1>
										<h2 class="head-2">Eyeglass</h2>
										<h2 class="head-3">Collection</h2>
										<p class="category"><span>New trending glasses</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(/images/sunglasses/home2.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									<div class="desc">
										<h1 class="head-1">Huge</h1>
										<h2 class="head-2">Sale</h2>
										<h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
										<p class="category"><span>Big sale sunglass</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(/images/sunglasses/home3.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 offset-sm-3 text-center slider-text">
								<div class="slider-text-inner">
									
									<div class="desc">
										<h1 class="head-1">New</h1>
										<h2 class="head-2">Arrival</h2>
										<h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
										<p class="category"><span>New stylish glasses for men</span></p>
										<p><a href="#" class="btn btn-primary">Shop Collection</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>



	<div class="container">

		<div class="row">
			<div class="col-sm-12 text-center mt-5">
				<h6 class="intro">It started with a simple idea: Create quality, well-designed products that I
					wanted myself.</h6>
			</div>
		</div>
	</div>

	<hr>


	<div class="colorlib-product">
		<div class="container ">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
					<h2>Our Products</h2>
				</div>
			</div>


			<div class="row row-pb-md">
				<% for(var i=0; i<products.length;i++){ %>
					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<a href="/product/<%= products[i]._id %>" class="prod-img">
								<img src="<%= products[i]?.images.image1 %>" class="img-fluid"
									alt="image">
							</a>
							<div class="desc">
								<h2>
									<a href="/product/<%= products[i]._id %>"><%= products[i].brand %></a>
								</h2>

								<% let offerPercentage = Math.round(100-(products[i].offerPrice/products[i].price)*100) %> 

								<% if(offerPercentage != 0) {%> 

								<span class="label">
									<s class="text-danger" style="font-size:1rem;">₹ <%= products[i].price %> </s>  
									<span class="mx-3 font-weight-bold" style="color: green;"><%=offerPercentage %>% off</span> 
								</span>

								<% }else{ %> 
									<div class="pt-4"></div>	
								<% } %> 							

								<span class="price">₹  <%= products[i].offerPrice %></span>


								<div><button onclick="addToCart('<%=products[i]._id %>')" class="btn btn-primary">Add to
									cart</button>
									
								</div>
							</div>
						</div>
					</div>					
					<% } %>

			</div>

			

			<div class="row">
				<div class="col-md-12 text-center">
					<p><a href="/" class="btn btn-primary btn-lg">Back to Top</a></p>
				</div>
			</div>
		</div>
	</div>




</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>